<odoo>
    <data>
        <menuitem
                id="hospital_root"
                name="Hospital Management"
                web_icon="hospital,static/description/icon.png"
        />

        <menuitem
                id="hospital_patient_root"
                name="Patients"
                parent="hospital_root"
        />

        <menuitem
                id="hospital_patient"
                name="All Patients"
                parent="hospital_patient_root"
                action="action_hospital_patient"
        />

        <menuitem
                id="menu_hospital_kids"
                name="Kids"
                action="action_hospital_kids"
                parent="hospital_patient_root"
        />

        <menuitem
                id="menu_hospital_male_patient"
                name="Male Patients"
                action="action_hospital_male_patient"
                parent="hospital_patient_root"
        />

        <menuitem
                id="menu_hospital_female_patient"
                name="Female Patients"
                action="action_hospital_female_patient"
                parent="hospital_patient_root"
        />

        <menuitem
                id="menu_appointment"
                name="Appointments"
                parent="hospital_root"
        />

        <menuitem
                id="menu_all_appointment"
                name="All Appointments"
                parent="menu_appointment"
                action="action_hospital_appointment"
        />

        <menuitem
                id="menu_create_appointment"
                name="Create Appointment"
                action="action_create_appointment_wiz"
                parent="menu_appointment"
                sequence="30"/>

        <menuitem
                id="menu_doctor"
                name="Doctors"
                parent="hospital_root"
        />

        <menuitem
                id="menu_create_doctor"
                name="All Doctor"
                action="action_hospital_doctor"
                parent="menu_doctor"
        />

    </data>
</odoo>